<div>
    <div class="modal-header">
        <h3 class="modal-title">请登录</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" novalidate="novalidate" autocomplete="off">
            <div class="form-group">
                <label for="username" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">用户名：</label>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input type="text" class="form-control" id="username" placeholder="" ng-change="loginNameChange()"
                           ng-model="loginRequest.username"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">密码：</label>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input type="password" class="form-control" id="password" placeholder=""
                           ng-model="loginRequest.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="loginRequest.rememberMe"> 记住我？
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="errorMsg != null && errorMsg.length > 0">
                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p class="text-danger">{{errorMsg}}</p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="cancel()">取消</button>
        <button type="button" class="btn btn-primary" ng-click="login()">登录</button>

    </div>
</div>