body {
    padding-top: 70px;
}

.pointer {
    cursor: pointer;
}

#module-container {
    margin-top: 0px;
}

.album {
    margin-top: 8px;
    margin-bottom: 8px;
}

.album img {
    width: 100%;
    max-height: 340px;
    min-height: 300px;
}

.album-label {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.footer {
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #e5e5e5;
}

.modal-album-display .modal-lg {
    width: 1000px;
}

.picture-name {
    margin-top: 40px;
}

.album-container {
    text-align: center;
    position: relative;
    color: white;
    overflow: auto;
    width: 100%;
    height: 100%;
    min-height: 560px;
    margin: 0 auto;
    background-color: #222a34;
}

.album-body {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 20%;
}

.album-pic img {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.album-pic {
    max-width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    z-index: 1;
}

.album-slider-left {
    position: absolute;
    width: 50%;
    z-index: 100;
    height: 100%;
    cursor: pointer;

}

.album-slider-left span {
    top: 50%;
    width: 32px;
    height: 32px;
    left: 50px;
    margin-top: -16px;
    cursor: pointer;
    position: absolute;
    background-size: 32px 32px;
    opacity: 0.5;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABqUlEQVR4Xt3b0U3EMBCE4XEFUAolHB0clUFHUAJ0cldBkKUgnRDh7PWsd9Z5Tpz8nyxFspOCJMe2bU8AXgG8lFIurMcurIE8x9nj3wE8AvgE8MxCkAf4Ff/jTEOQBjiIpyLIAtyJpyFIAjTGUxDkADrjhxGkAIzxQwgyAIPxZgQJAFJ8RbgCOJVS6muy6QgHiIyvQqEA0fGhAArxYQAq8SEASvHTAdTipwIoxk8DUI2fAqAc7w6gHu8KkCHeDSBLvAtApng6QLZ4KkDGeBpA1ngKQOb4YYDs8UMAK8SbAVaJNwGsFN8NsFq8FeADwEPTmvPxSXV/v25xNy9fD97v8PLuVeF9FiyD0A1QKVdCMAGshGAGWAVhCGAFhGGA7AgUgMwINICsCFSAjAh0gGwILgCZENwAsiC4AmRAcAdQR5gCoIwwDUAVYSqAIsJ0ADWEEAAlhDAAFYRQAAWEcIBoBAkAIsLX/rV48291MgAEhO747o0Rr82J23GNS+6meEkAw0wwx8sCdCAMxUsDNCAMx8sD/INAiU8B8AcCLT4NwA3CG4Az68/xOu43keZ+UGLOkN4AAAAASUVORK5CYII=");
}

.album-slider-left span:hover, .album-slider-right span:hover {
    opacity: 1;
}

.album-slider-right {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 100;
    right: 0;
    cursor: pointer;
}

.album-slider-right span {
    top: 50%;
    width: 32px;
    height: 32px;
    right: 50px;
    margin-top: -16px;
    cursor: pointer;
    position: absolute;
    background-size: 32px 32px;
    opacity: 0.5;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABqElEQVR4Xt3b7U3AMAyE4csGbAIjwCQwAkwAm8AGsAGMwCgwgVGlIiHER+048V36u031PqpaqVYakg4zOwHwCOCmtfaatOzwZVrGHfb4ZwBnAN4AXKggdAN8i//0lEHoAvglXgohDPBPvAxCCOBgvASCG8AZT48QAbgDcBv4elC+GN0AW7iZPQC4XAEhBLASQhhgFYQugBUQugHUEVIAlBHSAFQRUgEUEdIB1BCGACghDANQQRgKoIAwHIAdYQoAM8I0AFaEqQCMCNMB2BBKAJgQygBYEEoBGBDKAaoRKAAqEWgAqhCoACoQGAHuAVwFZg7vAM69Y3kqADObGr8h0wBUxNMAVMVTAFTGlwNUx5cCMMSXAbDElwAwxU8HYIufCsAYPw2ANX4KAHP8cAD2+KEACvHDAFTihwAoxacDqMWnAijGpwGoxqcAKMd3A6jHdwGsEB8GWCU+BGBm0Q0Tof/2gfmA6xL3b/F9y8wLgFPHnSjjQ0/APr7adokeRaCNDwM4EKjjuwAOINDHdwP8gSARnwLwA4JMfBrAF4QnANfeEbXja5J+6gcWEX5QlySXfwAAAABJRU5ErkJggg==");
}

.album-footer {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background-color: #000;
}

.album-thumbnails {
    position: absolute;
    left: 5%;
    right: 5%;
    height: 50%;
    bottom: 25%;
}

.album-thumbnails img {
    height: 100%;
    width: 10.11111111%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    cursor: pointer;
    opacity: 0.5;
}

.album-thumbnails img:hover {
    opacity: 1;
}

.album-thumbnails img.active {
    opacity: 1;
    border: 1px solid white;
}

.sub-slider-left {
    position: absolute;
    right: 95%;
    height: 50%;
    bottom: 25%;
    width: 5%;
    cursor: pointer;
}

.sub-slider-right {
    position: absolute;
    left: 95%;
    height: 50%;
    width: 5%;
    bottom: 25%;
    cursor: pointer;
}

.sub-slider-right span {
    position: absolute;
    left: 10px;
    top: 35%;
    opacity: 0.5;
}

.sub-slider-left span {
    position: absolute;
    top: 35%;
    right: 10px;
    opacity: 0.5;
}

.sub-slider-right span:hover, .sub-slider-left span:hover {
    opacity: 1;
}

.album-btn-fullScreen {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 10000;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.5;
}

.album-btn-fullScreen:hover {
    opacity: 1;
}