body {
    padding-top: 70px;
}

.pointer {
    cursor: pointer;
}

#module-container {
    margin-top: 0px;
}

.album {
    margin-top: 8px;
    margin-bottom: 8px;
}

.album img {
    width: 100%;
    max-height: 340px;
    min-height: 300px;
}

.album-label {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.footer {
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #e5e5e5;
}

.modal-album-display .modal-lg {
    width: 1000px;
}

.picture-name {
    margin-top: 40px;
}

.album-container {
    text-align: center;
    color: white;
    overflow: auto;
    height: 580px;
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
}

.album-head {
    height: 40px;
    width: 100%;
    line-height: 40px;
    z-index: 1000;
}

.album-body {
    width: 100%;
    margin: 0 auto;
    height: 420px;
    line-height: 420px;
    z-index: 50;
}

.album-range {
    background-color: #000;
    float: left;
}

.album-range img {
    height: 420px;
    display: inline;
}

.album-footer {
    width: 100%;
    margin-top: 30px;
    z-index: 100;
    height: 80px;
    line-height: 80px;
}

.album-footer > div {
    width: 100%;
    margin: 0 auto;
}

.album-footer img {
    height: 48px;
    width: 64px;
}

.album-footer ul {
    overflow: hidden;
    height: 60px;
    vertical-align: middle;
    list-style: none;
}

.album-footer ul li {
    display: block;
    height: 60px;
    cursor: pointer;
    line-height: 60px;
}

.album-footer ul li.active {
    cursor: auto;
}

.album-footer img {
    height: 48px;
    width: 64px;
}

.album-footer img:hover {
    height: 60px;
    width: 80px;
}

.album-footer ul li.active img {
    height: 60px;
    width: 80px;
    padding: 4px;
    border: 2px whitesmoke solid;
}

.album-slider {
    width: 100%;
    font-size: 36px;
    cursor: pointer;
}

.album-slider:hover {
    color: #333;
}


.album-subslider {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #575a61;
    background: none;
    border: none;
    cursor: pointer;
}

.album-subslider:hover {
    color: #333;
}

.album-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    float: right;
    color: #fff;
}

.album-btn:hover {
    color: #333;
}