<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title ng-bind="$state.current.title"></title>
    <link rel="icon" href="/zeal/resources/app/icons/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/zeal/app/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/zeal/app/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/zeal/app/lib/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="/zeal/app/lib/angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" href="/zeal/app/lib/angular-ui-select/dist/select.min.css">
    <link rel="stylesheet" href="/zeal/app/app.css">

    <script src="/zeal/app/lib/jquery/dist/jquery.min.js"></script>
    <script src="/zeal/app/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/zeal/app/lib/angular/angular.min.js"></script>
    <script src="/zeal/app/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/zeal/app/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/zeal/app/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="/zeal/app/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/zeal/app/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/zeal/app/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/zeal/app/lib/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="/zeal/app/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="/zeal/app/lib/angular-ui-select/dist/select.min.js"></script>
    <script src="/zeal/app/app.js"></script>
    <script src="/zeal/app/common/services/cookie.service.js"></script>
    <script src="/zeal/app/common/interceptors/http.interceptor.js"></script>
    <script src="/zeal/app/common/services/http.service.js"></script>
    <script src="/zeal/app/common/services/message.service.js"></script>
    <script src="/zeal/app/common/directives/album.gallery.directive.js"></script>
    <script src="/zeal/app/common/directives/img.gallery.directive.js"></script>
    <script src="/zeal/app/common/directives/album.list.directive.js"></script>
    <script src="/zeal/app/common/filters/text.truncate.filter.js"></script>
    <script src="/zeal/app/modules/user/user.controller.js"></script>
    <script src="/zeal/app/modules/user/user.service.js"></script>
    <script src="/zeal/app/modules/albums/albums.controller.js"></script>
    <script src="/zeal/app/modules/albums/albums.service.js"></script>
    <script src="/zeal/app/modules/my/my.controller.js"></script>
    <script src="/zeal/app/modules/my/albums/my.albums.controller.js"></script>
    <script src="/zeal/app/modules/home/home.controller.js"></script>
</head>
<body>
<div ng-controller="IndexController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="font-family: fantasy;font-size: 28px;">Zeal</a>
                <p class="navbar-text"><em>为你狂热</em></p>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="home">首页</a></li>
                    <li ui-sref-active="active"><a ui-sref="albums">美女相册</a></li>
                    <li ui-sref-active="active"><a ui-sref="movies">视频</a></li>
                    <li ui-sref-active="active"><a ui-sref="jokes">段子</a></li>
                    <li ui-sref-active="active"><a ui-sref="stories">故事</a></li>
                    <li role="presentation" ng-show="isLogin"
                        ng-class="{active: $state.includes('my')}"><a
                            ui-sref="my.albums">我的Zeal</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="!isLogin">
                        <a ng-click="showLoginModal()" role="button" href="#">
                            <span><i class="fa fa-sign-in"></i> 登录</span>
                        </a>
                    </li>
                    <li ng-show="!isLogin">
                        <a role="button" href="/zeal/app/register.html" target="_self">
                            <span><i class="fa fa-user"></i> 注册</span>
                        </a>
                    </li>
                    <li ng-show="isLogin">
                        <a role="button" href="#">
                            <span>
                                <i class="fa fa-user"></i> {{username}}</span>
                        </a>
                    </li>
                    <li ng-show="isLogin">
                        <a ng-click="logout()" role="button" href="#">
                            <span><i class="fa fa-sign-out"></i> 退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="module-container" class="container-fluid" ui-view></div>
    <footer class="footer">
        <div class="container text-center">
            <p>Designed and built by <a href="#">@mdo</a> and <a href="#">@fat</a>.</p>
            <p>Please contact with me if you like it!</p>
        </div>
    </footer>
</div>
</body>
</html>