<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Zeal</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
    <script src="common/services/cookie.service.js"></script>
    <script src="common/interceptors/http.interceptor.js"></script>
    <script src="common/services/http.service.js"></script>
    <script src="modules/user/user.controller.js"></script>
    <script src="modules/user/user.service.js"></script>
    <script src="modules/albums/albums.controller.js"></script>
</head>
<body>
<div ng-controller="IndexController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Zeal</a>
                <p class="navbar-text"><em>为你狂热</em></p>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation" ui-sref-active="active"><a ui-sref="home">首页</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="albums">热门相册</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="movies">视频</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="jokes">段子</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="stories">故事</a></li>
                    <li role="presentation" ui-sref-active="active"><a ui-sref="my">我的Zeal</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="!isLogin"><a ng-click="showLoginModal()" class="pointer"><span
                            class="text-info">登录</span></a>
                    </li>
                    <li ng-show="!isLogin"><a ng-click="showRegisterModal()" class="pointer"><span
                            class="text-info">注册</span></a></li>
                    <li ng-show="isLogin">
                        <a style="float: left;"><span class="text-info">欢迎，{{username}}</span></a>
                        <a ng-click="logout()" class="pointer" style="float: right;"><span
                                class="text-warning">退出</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="module-container" class="container" ui-view></div>
    <footer class="footer">
        <div class="container text-center">
            <p>Designed and built by <a href="#">@mdo</a> and <a href="#">@fat</a>.</p>
            <p>Please contact with me if you like it!</p>
        </div>
    </footer>
</div>
</body>
</html>