<div class="album-container" onselectstart="return false">
    <div class="album-btn-fullScreen" ng-click="fullScreen()">
        <span class="glyphicon glyphicon-fullscreen"></span>
    </div>
    <div class="album-body">
        <div class="album-slider-left" ng-click="pre()">
           <span></span>
        </div>
        <div class="album-pic">
            <img ng-src="{{pictures[index].url}}">
        </div>
        <div class="album-slider-right" ng-click="next()">
            <span></span>
        </div>
    </div>
    <div class="album-footer">
        <div class="sub-slider-left" ng-click="subIndexPre()">
            <span class="glyphicon glyphicon-triangle-left"></span>
        </div>
        <div class="album-thumbnails">
            <img ng-src="{{picture.url}}" ng-class="{'active':$index == index}" ng-repeat="picture in pictures"
                 ng-hide="$index < subIndex || $index >= subIndex+9" ng-click="select($index)">
        </div>
        <div class="sub-slider-right" ng-click="subIndexNext()">
            <span class="glyphicon glyphicon-triangle-right"></span>
        </div>
    </div>
</div>


