<div>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10 col-sm-10">
                    <input class="form-control" ng-model="keyword" type="text" placeholder="请输入相册名称查询"/>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-primary" ng-click="search()">搜索</button>
                </div>
                <div class="col-md-1 col-sm-1">
                    <button class="btn btn-primary" ng-click="addModal()">新增</button>
                </div>
            </div>
        </form>
        <hr/>
    </div>

    <div>
        <!--<table class="table table-hover" ng-show="totalSize > 0">
            <thead>
            <tr>
                <th class="text-center col-md-1">#</th>
                <th class="text-center col-md-3">名称</th>
                <th class="text-center col-md-2">创建日期</th>
                <th class="text-center col-md-1">发布</th>
                <th class="text-center col-md-2">发布日期</th>
                <th class="text-center col-md-1"></th>
                <th class="text-center col-md-1"></th>
                <th class="text-center col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="album in albums">
                <td class="text-center text-muted" style="vertical-align: middle;">{{(page - 1) * pageSize +
                    $index+1}}
                </td>
                <td class="text-left pointer text-primary" style="vertical-align: middle;"
                    ng-click="onAlbumClick(album)">{{album.name}}
                </td>
                <td class="text-center" style="vertical-align: middle;">{{album.createDate | date : "yyyy-MM-dd"}}</td>
                <td class="text-center text-info" style="vertical-align: middle;">
                    <span ng-show="album.published == true">是</span>
                    <span ng-show="album.published == false">否</span>
                </td>
                <td class="text-center" style="vertical-align: middle;">{{album.publishDate | date : "yyyy-MM-dd"}}</td>
                <td class="text-center" style="vertical-align: middle;">
                    <button ng-show="album.published == true" class="btn btn-sm btn-warning"
                            ng-click="unpublish(album)">
                        取消发布
                    </button>
                    <button ng-show="album.published == false" class="btn btn-sm btn-primary" ng-click="publish(album)">
                        发布相册
                    </button>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <button ng-disabled="album.published" class="btn btn-sm btn-warning" ng-click="updateModal(album)">
                        编辑
                    </button>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <button ng-disabled="album.published" class="btn btn-sm btn-danger" ng-click="delete(album)">
                        删除
                    </button>
                </td>
            </tr>
            </tbody>
        </table>-->
        <ul class="list-inline">
            <li ng-repeat="album in albums" class="col-md-4"
                style="padding-left: 15px; padding-right: 15px;margin-bottom: 30px;">
                <div class="album">
                    <div class="pointer" ng-click="onClickAlbum(album)"
                         style="width:100%; overflow: hidden;">
                        <img ng-src="/zeal/picture/resize/{{album.pictures[0].id}}?width=480&height=480"
                             class="img-scale"
                             title="{{album.name}}" style="width: 100%;height: auto;">
                    </div>
                    <div class="text-left title">
                        <div class="line">
                            <span class="text-muted pointer" ng-click="onClickAlbum(album)">{{album.name | characters:12: false}}</span>
                            <span class="icon">
                                <i class="glyphicon glyphicon-heart"></i> 623
                            </span>
                        </div>
                    </div>
                    <div class="text-left author">
                        <div class="line">
                            <a href="/zeal/#/albums" target="_blank">
                                <img src="/zeal/resources/app/icons/photo.jpg"> <span class="text-muted">{{album.userInfo.nickName}}</span>
                            </a>
                            <span class="icon">
                                <i class="glyphicon glyphicon-thumbs-up"></i> 120
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div ng-hide="totalSize <= 0">
            <uib-pagination total-items="totalSize" ng-model="page" ng-change="onPageChanged()" first-text="第一页"
                            last-text="最后一页" next-text="下一页" previous-text="上一页" max-size="10" boundary-links="true"
                            boundary-link-numbers="true"
                            items-per-page="pageSize">

            </uib-pagination>
        </div>
    </div>
</div>