<div ui-view>
    <div style="padding-right: 15px;padding-left: 15px;">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <ui-select ng-model="stateSelected.value" on-select="onPublishStateChange($item,$model)">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="item in (publishStates | filter: $select.search) track by item.value">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <input class="form-control" ng-model="pagination.keyword" type="text"
                           placeholder="请输入相册名称查询"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <button class="btn btn-primary" ng-click="search()">
                                <span>
                                    <i class="glyphicon glyphicon-search">
                                        搜索
                                    </i>
                                </span>
                    </button>
                </div>
            </div>
        </form>
        <hr/>
    </div>

    <div>
        <ul class="list-inline text-center">
            <li ng-repeat="album in albums" class="col-lg-4 col-md-6 col-sm-12"
                style="padding-left: 15px; padding-right: 15px;margin-bottom: 30px;">
                <div class="my-album-block">
                    <div class="pointer" ng-click="onAlbumClick(album)"
                         style="width:100%; overflow: hidden;">
                        <img ng-src="/zeal/picture/resize/{{album.pictures[0].id}}?width=480&height=480"
                             class="img-scale"
                             title="{{album.name}}" style="width: 100%;height: auto;">
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-7 text-left">
                                        <span class="text-muted pointer"
                                              ng-click="onAlbumClick(album)">{{album.name}}</span>
                            </div>
                            <div class="col-sm-5 text-left">
                                <span ng-show="album.published" class="text-success">（已发布）</span>
                                <span ng-show="!album.published" class="text-danger">（未发布）</span>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                                            <span class="col-md-4 col-sm-4 col-xs-4 text-left" title="获赞数">
                                                    <i class="glyphicon glyphicon-thumbs-up"></i> {{album.appreciationCount}}
                                            </span>
                                            <span class="col-md-4 col-sm-4 col-xs-4 text-left" title="收藏数">
                                                     <i class="glyphicon glyphicon-heart"
                                                        ng-class="{'text-red':album.collected}"></i> {{album.collectionCount}}
                                            </span>
                                            <span class="col-md-4 col-sm-4 col-xs-4 text-left" title="评论数">
                                                    <i class="glyphicon glyphicon-comment"></i> {{album.commentCount}}
                                            </span>
                        </div>
                    </div>
                    <div class="container-fluid" style="background-color: #F6F6F6;">
                        <div class="row">
                                            <span ng-hide="album.published"
                                                  class="col-md-4 col-sm-4 col-xs-4 text-left text-muted pointer"
                                                  ng-click="publish(album)">
                                                    <i class="glyphicon glyphicon-transfer"></i> 发布
                                            </span>
                                            <span ng-show="album.published"
                                                  class="col-md-4 col-sm-4 col-xs-4 text-left text-warning pointer"
                                                  ng-click="unpublish(album)">
                                                    <i class="glyphicon glyphicon-transfer"></i> 取回
                                            </span>
                                            <span class="col-md-4 col-sm-4 col-xs-4 text-left text-primary pointer"
                                                  ng-click="updateModal(album)">
                                                    <i class="glyphicon glyphicon-pencil"></i> 编辑
                                            </span>
                                            <span class="col-md-4 col-sm-4 col-xs-4 text-left text-danger pointer"
                                                  ng-click="delete(album)">
                                                    <i class="glyphicon glyphicon-remove"></i> 删除
                                            </span>
                        </div>
                    </div>

                </div>
            </li>
        </ul>

        <div ng-hide="totalSize <= 0" style="clear: both;">
            <uib-pagination total-items="pagination.totalSize" ng-model="pagination.page"
                            ng-change="onPageChanged()" first-text="第一页"
                            last-text="最后一页" next-text="下一页" previous-text="上一页" max-size="10"
                            boundary-links="true"
                            boundary-link-numbers="true"
                            items-per-page="pagination.pageSize">

            </uib-pagination>
        </div>
    </div>
</div>