<div ui-view>
    <ul class="nav nav-pills" style="margin-bottom: 20px;margin-left: 15px;margin-right: 15px;">
        <li ng-repeat="childTag in childTags" role="presentation" ng-class="{'active':childTag.id == childTagId}">
            <a ng-click="childTagClick(childTag)" class="pointer">{{childTag.name}}</a>
        </li>
    </ul>
    <div>
        <ul class="list-inline">
            <li ng-repeat="album in targetAlbums" class="col-sm-3"
                style="padding-left: 15px; padding-right: 15px;margin-bottom: 30px;">
                <div class="album">
                    <div class="pointer" ng-click="onClickAlbum(album)"
                         style="width:100%; overflow: hidden;">
                        <img ng-src="{{album.url}}" class="img-scale"
                             title="{{album.name}}" style="width: 100%;height: auto;">
                    </div>
                    <div class="text-left title">
                        <div class="line">
                            <span class="text-muted pointer" ng-click="onClickAlbum(album)">{{album.name | characters:18: false}}</span>
                            <span class="icon">
                                <i class="glyphicon glyphicon-heart"></i> 623
                            </span>
                        </div>
                    </div>
                    <div class="text-left author">
                        <div class="line">
                            <a href="/zeal/#/albums" target="_blank">
                                <img src="/zeal/resources/app/icons/photo.jpg"> <span class="text-muted">{{album.userInfo.nickName}}</span>
                            </a>
                            <span class="icon">
                                <i class="glyphicon glyphicon-thumbs-up"></i> 120
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div ng-hide="totalSize <= 0" style="clear: both;" class="text-center">
        <uib-pagination total-items="pagination.totalSize" ng-model="pagination.page"
                        ng-change="onPageChanged()" first-text="第一页"
                        last-text="最后一页" next-text="下一页" previous-text="上一页" max-size="10" boundary-links="true"
                        boundary-link-numbers="true"
                        items-per-page="pagination.pageSize"></uib-pagination>
    </div>
</div>
