<div ui-view>
    <ul class="nav nav-pills" style="margin-bottom: 20px;margin-left: 15px;margin-right: 15px;">
        <li ng-repeat="childTag in childTags" role="presentation" ng-class="{'active':childTag.id == childTagId}">
            <a ng-click="childTagClick(childTag)" class="pointer">{{childTag.name}}</a>
        </li>
    </ul>
    <div>
        <ul class="list-inline text-center">
            <li ng-repeat="album in targetAlbums" class="col-lg-3 col-md-4 col-sm-6"
                style="padding-left: 15px; padding-right: 15px;margin-bottom: 30px;">
                <div class="my-album-block">
                    <div style="width:100%; overflow: hidden;">
                        <a href="#/albums/album/{{album.id}}" target="_blank">
                            <img ng-src="{{album.thumbnail}}" class="img-scale"
                                 title="{{album.name}}" style="width: 100%;height: auto;">
                        </a>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <a class="text-muted col-sm-8 col-xs-8 text-left" href="#/albums/album/{{album.id}}"
                               target="_blank">
                                <span>{{album.name}}</span>
                            </a>
                            <div class="col-sm-4 col-xs-4 text-right">
                                <span title="收藏数"><i class="glyphicon glyphicon-heart text-right"
                                                     ng-class="{'text-red':album.collected}"></i> {{album.collectionCount}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <a href="/zeal/#/albums" target="_blank" class="col-sm-8 col-xs-8 text-left"
                               style="text-decoration: none;">
                                <img ng-if="album.authorPhoto != null && album.authorPhoto.length > 0"
                                     ng-src="{{album.authorPhoto}}"
                                     style="width: 30px;height: 30px;border-radius: 30px;">
                                <img ng-if="album.authorPhoto == null || album.authorPhoto.length <= 0"
                                     src="/zeal/app/icons/photo.jpg"
                                     style="width: 30px;height: 30px;border-radius: 30px;">
                                <span class="text-muted"
                                      style="display: inline;padding-left: 5px;">{{album.authorName}}</span>
                            </a>
                            <div class="col-sm-4 col-xs-4 text-right">
                                <span><i class="glyphicon glyphicon-thumbs-up"
                                         ng-class="{'text-red':album.authorAppreciated}"></i> {{album.authorAppreciationCount}}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div ng-hide="totalSize <= 0" style="clear: both;" class="text-center">
        <uib-pagination total-items="pagination.totalSize" ng-model="pagination.page"
                        ng-change="onPageChanged()" first-text="第一页"
                        last-text="最后一页" next-text="下一页" previous-text="上一页" max-size="10" boundary-links="true"
                        boundary-link-numbers="true"
                        items-per-page="pagination.pageSize"></uib-pagination>
    </div>
</div>
