<div class="container">
    <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="user-block">
            <div class="user-detail">
                <a href="#" target="_blank" style="overflow: hidden;">
                    <img ng-src="{{album.author.photo}}">
                </a>
                <p class="user-name">{{album.author.nickName}}</p>
                <span class="user-email">{{album.publishDate | date:'yyyy-MM-dd'}}</span>
            </div>
            <div class="row user-active-block">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
                    <button class="btn btn-primary">
                     <span>
                         <i class="glyphicon glyphicon-plus"></i> 关注
                     </span>
                    </button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                    <button class="btn btn-default">
                        <span>
                         <i class="glyphicon glyphicon-envelope"></i> 私信
                        </span>
                    </button>
                </div>
            </div>
            <div class="album-description-block">
                <h5>关于相册</h5>
                <p ng-show="album.description != null && album.description.length > 0">{{album.description}}</p>
                <p ng-hide="album.description != null && album.description.length > 0">尚无相册简介</p>
            </div>
        </div>

        <div class="list-group">
            <a href="#/albums" class="list-group-item list-group-item-primary">
                <span class="badge">{{album.author.followerCount}}</span>
                <span>
                    <i class="fa fa-eye"></i> 被关注
                </span>
            </a>
            <a href="#/albums" class="list-group-item list-group-item-primary">
                <span class="badge">{{album.author.appreciationCount}}</span>
                <span>
                    <i class="fa fa-thumbs-up"></i> 被赞
                </span>
            </a>
            <!--<aton href="#/albums" class="list-group-item list-group-item-primary">
                <span class="badge">{{author.collectionCount}}</span>
                 <span>
                    <i class="fa fa-heart"></i> 收藏
                </span>
            </aton>-->
            <a href="#/albums" class="list-group-item list-group-item-primary">
                <span class="badge">{{album.author.publishedCount}}</span>
                 <span>
                    <i class="fa fa-send"></i> 发布
                </span>
            </a>
        </div>

        <div>
            <button class="btn btn-primary" style="width: 100%">
                <span>
                     <i class="glyphicon glyphicon-thumbs-up"></i> 点赞作者
                </span>
            </button>
        </div>
        <div style="margin-top: 15px;">
            <button ng-click="collectAlbum(album)" ng-hide="album.collected" class="btn btn-default"
                    style="width: 100%;margin-bottom: 15px;">
                <span>
                     <i class="glyphicon glyphicon-folder-open"></i> 收藏该相册
                </span>
            </button>
            <button ng-click="uncollectAlbum(album)" ng-show="album.collected" class="btn btn-warning"
                    style="width: 100%;margin-bottom: 15px;">
                <span>
                     <i class="glyphicon glyphicon-minus"></i> 取消收藏
                </span>
            </button>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-top: 15px; padding-bottom: 15px;">
                <div class="container-fluid text-muted">
                    <span class="col-sm-1 col-xs-1"><i class="glyphicon glyphicon-heart"
                                                       ng-class="{'text-red':album.collected}"></i> {{album.collectionCount}}</span>
                    <span class="col-sm-1 col-xs-1"><i class="glyphicon glyphicon-thumbs-up"></i> {{album.appreciationCount}}</span>
                    <span class="col-sm-1 col-xs-1"><i
                            class="glyphicon glyphicon-comment"></i> {{album.commentCount}}</span>
                    <span class="pull-right"><i class="fa fa-clock-o"></i> {{album.publishDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="album-title">
                    <h2 class="picture-name">{{album.name}}</h2>
                </div>
                <!-- <album-list pictures="slides" resize-width="320" resize-height="320"></album-list>-->

                <div ng-repeat="picture in album.pictures" class="picture-block">
                    <img ng-src="{{picture.url}}" style="width: 100%;height: auto;">
                    <p>{{picture.description}}</p>
                </div>

                <div class="album-tags-block">
                    <h3 class="album-tags-label">
                        <span>
                            <i class="fa fa-tags"></i> Tags
                        </span>
                    </h3>
                    <ul class="list-inline">
                        <li ng-repeat="tag in album.tags">
                            <span class="label label-default">{{tag.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>